// Media Elements
//**********************************
img, 
a img{ 
	border:0; // 1 
	-ms-interpolation-mode:bicubic ; // 2 
}
img {
    vertical-align: middle;
}
svg:not(:root){ 
	overflow:hidden;
}
embed,
iframe,
object {
	max-width: 100%;
}